/* General navbar styles */

  
  .navbar-container {
    padding: 0 50px;
  }
  
  .navbar-brand {
    font-size: 3.5rem;
    text-decoration: none;
    color: white;
    line-height: -10px;
  }

  .navbar-brand h4{
    line-height: 12px;

  }
  
  /* Hamburger button styles */
  #hamburger {
    display: none; 
    font-size: 2.2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Navigation menu styles */
  .nav-menu {
    display: flex;
    gap: 15px;
  }
  /* Responsive styles for small screens */
  @media (max-width: 768px) {
    #hamburger {
      display: block;
    }
  
    .navbar-container {
        padding: 0 10px;
      }

    .nav-menu {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .nav-menu.active {
      display: flex;
      width: 100%;
      position: absolute;
      background: #333333f6;
      left: 0;
      top: 70px;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      height: max-content;
      padding: 20px;
      border: none;
    }
  
    .nav-menu.active .nav-item {
      padding: 10px 0;
    }
  
    .nav-menu.active .nav-item:hover {
    }
  
    .nav-item {
      text-align: center;
      width: 100%;
      padding: 10px 0;
      /* border-top: 1px solid #444; */
    }

    footer .nav-item {
        text-align: start;
      }
      
  }
  