body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  color: #2C3E50;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #34495e;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 100%;
}


.box {
  position: relative;
  height: 80vh;
}

.firstCarou img {
  height: 80vh;
  filter: brightness(70%);
}

.firstCaro img {
  object-fit: cover;
  height: 80vh;
  filter: brightness(70%);
}

.carousel-item {
  position: relative;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.caroBox{
position: relative;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* border-bottom:  1PX solid lightyellow; */
  color: white;
  font-family: 'Lato', sans-serif;
}

.nav-item a:hover {
  color: #FF8300;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  border-bottom: 2px solid white;
  transition: .5s ease-in-out;
}
.contain{
  position: relative;
}

.navbar-nav {
  gap: 30px;
}

.hamburger {
  display: block;
  border: 1px solid green;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}


.hamburger span {
  height: 4px;
  width: 30px;
  background-color: white;
  display: block;
  margin-bottom: 5px;
  
}

.navbar-brand a{
  line-height: 20px;
  color: white;
  text-decoration: none;
}

#navLink{
  color:   #FF8300 ;
}

.nav-item {
  font-size: 15px;
  width: 100%;
  color: white;
}

#navLink:hover{
  color: white;
}

.nav-item .nav-link {
  color: white;
}


.booking {
  position: absolute;
  bottom: 150px;
  width: 600px;
  text-align: start;
  text-transform: uppercase;
  color: white;
}

.booking h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}



/* #cap,#cap2,#cap3 {
position: absolute;
bottom: 150px;
/* width: 600px; */
/* text-align: start; */
/* text-transform: uppercase; */
/* color: wheat; */
/* }  */
#box .carousel-caption {
  transform: translateY(-120px);

}

.carousel-caption {
  transform: translateY(-40px);
}
#boxx{
  height: 100vh;
}

#boxx .carousel-caption{
  transform: translateY(-150px);
}
#boxx img {
  height: 100vh;
}

.carousel-caption h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

.carousel-caption p {
  font-weight: 700;
  margin-top: 20px;
color: rgba(255, 255, 255, 0.863);
margin-bottom: 40px;


}

.booking input {
  background: none;
  border: none;
  outline: none;
  font-weight: 700;
  
}

.bookBtn {
  background-color: transparent;
  color: #FF8300 ;
  border: 1px solid #FF8300 ;
  padding: 13px 13px 10px 13px;
  border-radius: 4px;
  font-weight: 600;
}

.bookBtn:hover {
  background-color: #FF8300 ;
  color: white;
}

.about {
display: grid;
grid-template-columns: 1fr 1fr;
padding: 100px 100px;
gap: 50px;
align-items: center;
/* border-bottom: 1px solid black; */
}

.about img {
  width: 100%;
  /* object-fit: cover; */
  width: 100%;
}

.abImg {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.about h1 {
  font-size: 30px;
  font-weight: 700;
  color: #FF8300;
}

.about h6 {
  font-size: 14px;
  font-weight: 700;
  color: #FF8300;
}

.aboutSec{
  display: flex;
  align-items: start;
  gap: 20px;
  background-color: #dbdbdb79;
  padding: 20px;
}

.aboutSec p {
  color: rgb(104, 104, 104);
  font-weight: 700;
}

.bookBtn2 {
  background-color: #FF8300;
  color: white;
  border: 1px solid #FF8300;
  padding: 13px 13px 10px 13px;
  border-radius: 4px;
  
}

.aboutSec:hover {
  background-color: #FF8300;
  transition: 1s ease-in-out;
}

.aboutSec:hover p{
  color: black;
}


.aboutSec h5 {
  font-weight: 700;
  margin-bottom: 20px;
}

.aboutSec img {
  height: 70px;
  /* object-fit: cover; */
}

.aboutSec p {
  font-size: 14px;
  font-weight: 500;
}

.aboutSect {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;

}

.aboutSec h5 {
  font-weight: 700;
}



.about h6 {
  color: #FF8300;
  font-weight: 700;
  font-size: 17px;
}

.services {
background-color: rgba(241, 241, 241, 0.692);
padding-top: 100px;

}

.services h4, .services h6, .featured h6 {
  color: #FF8300;
}

.services h6, .featured h6 {
  font-weight: 700;
  font-size: 17px;
}

.serviceDiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  padding: 100px;
  
}

.serviceDiv img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  object-fit: cover;
}

.serviceDiv p {
    font-size: 14px;
}

.serviceDiv h4 {
  margin: 30px 0;
}

.services h1 {
  font-size: 50px;
  font-weight: 500;
}

.serviceDiv div {
  background-color: whitesmoke;
  padding: 30px;
 }

/* App.css */
.background-container {
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 40px 0;
}

.background-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://preview.colorlib.com/theme/ecoho/assets/img/gallery/items2.png');
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: -1; /* Ensure the background is behind the content */
}
.background-containerr {
  position: relative;
  width: 100%;
  height: max-content;
  overflow: hidden;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.background-containerr h1 {
  position: relative; /* Ensure the content is positioned above the background */
  z-index: 1;
  font-weight: 500;
  color: white; /* Optional: Style your content */
}

.background-containerr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://preview.colorlib.com/theme/ecoho/assets/img/gallery/items2.png');
  background-size: cover;
  background-position: center;
  filter: brightness(30%);
  z-index: -1; /* Ensure the background is behind the content */
}

.background-container h1 {
  position: relative; /* Ensure the content is positioned above the background */
  z-index: 1;
  font-weight: 500;
  color: white; /* Optional: Style your content */
}

.background-container h6 {
  position: relative; /* Ensure the content is positioned above the background */
  z-index: 1;
  font-weight: 900;
  color: #FF8300; 
  margin-bottom: 20px;
}


.featured {
  padding: 100px ;
background-color: rgba(241, 241, 241, 0.692);

}

.rooms {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 50px;
  margin-top: 100px;
}

.featured h1 {
  font-size: 60px;
  font-weight: 100;
}
.rooms h2 {
  font-weight: 400;
}

.rooms button {
  background:#FF8300;
  border: 1px solid #FF8300;
  font-size: 12px;
  color: white;
  margin-left: 20px;
  padding:5px 10px;
}
#spanBtn:hover{
  background-color: white;
  color: #FF8300;
  transition: .5s ease-in-out;
  border: none;
}

.rooms span {
  color: #FF8300;
  font-weight: 700;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
}

.roomFlex{
  background-color: white;
  height: max-content;
}

.roomInfo span{
  font-weight: 700;
}

.rooms p {
  font-size: 15px;
 color: rgb(122, 122, 122);
  margin: 20px 0;
  font-weight: 500;
}

.roomcap {
  height: 300px;
}
.rooms img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.rse {
  border-bottom: 1px solid black;
  padding-bottom: 10px;

}


.bookUs img {
  width: 100%;
  object-fit: cover;
}

.RBooking form {
  gap: 40px;
  height: 20vh;
  align-items: center;
  background: #302939;
  display: flex;
  z-index: 5000;
  padding: 0 50px;
}

.RBooking input {
  padding: 10px 0;
  background: transparent;
  border: none;
  border-bottom:1px solid  #FF8300;
  color: white;
  min-width: 100%;
  font-size: 17px;
  outline: none;
  width: 100%;
}


.RBooking label {
 color: #FF8300;
 font-weight: 700;
 margin-bottom: 5px;
}


.RBooking option {
  width: 100%;
  background-color: #FF8300;
  font-size: 17px;
outline: none;
}


.RBooking select {
  padding: 12px 0;
  width: 100%;
  background: none;
  border: none;
  border-bottom:1px solid #FF8300;
  color: white;
  font-size: 17px;
  outline: none;

}

.ro {
  color: #30293949;
}

.bootBtn {
  width: 50%;
  background-color: transparent;
  color: #FF8300;
  border: 1px solid #FF8300;
  padding: 10px 0;
}

.bootBtn:hover {
  color: white;
  background-color: #FF8300;
}

.roomContainer {
  padding: 100px 0;
}

.roomContainer p {
  color: rgb(148, 148, 148);
}

.roomFlex:hover{
  background-color: black;
  transition: 1s ease-in-out;
}

.roomFlex:hover h2{
color: white;
}

.roomFlex:hover button {
  border: 1px solid white;
  color: white;
}

.roomFlex:hover p{
  color: rgba(255, 255, 255, 0.705);
}

.roomies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* height: 200px; */
  align-items: center;
  padding: 50px 100px;
  gap: 100px;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.roomies .carousel-item img {
  height: 300px;
  object-fit: cover;
}
.rightArrow {
  height: 30px;
  margin-right: 20px;
}

.roomInfo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px 0;
}

.roomies h1 {
  color: #FF8300;
}

.roomimg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.roomBtn {
  background-color: #FF8300;
  color: white;
  font-size: 17px;
  font-weight: 600;
  border-radius: 2px;
  border: none;
  padding: 10px 20px;
}

.roomBtn:hover{
  color: #FF8300;
  background-color: black;
}

.roomContainer h6 {
  color: #FF8300;
}

.roomContainer p {
 color: rgb(95, 95, 95);
  font-weight: 600;
  font-weight: 18px;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.918);
  border-radius: 100%;
}

.carousel-control-prev-icon:hover,.carousel-control-next-icon:hover {
  background-color: #FF8300;
}

.guestBook {
  padding: 100px 10px;
}

.stars img {
  height: 14px;
  margin: 0 4px;
}

.guestBook h5{
  color: #FF8300;
  font-weight: 700;
  margin: 15px 0;
}
.custom {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  margin-right: 20px;
}

.customs {
  background-color: #e7e7e7;
  padding:20px;
}

.customDiv {
  gap: 100px;
  padding: 100px 0;
}

.bookDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 300px;
  padding: 100px;
  align-items: center;
}

.bookDiv h2 {
  color: #FF8300;
}

.bookDiv p {
 color: rgb(95, 95, 95);
  font-weight: 400;
  font-size: 18px;
}

input {
  width: 100%;
}

.RbookDiv input, .RbookDiv select{
  width: 100%;
  padding: 14px;
  border: 1px solid #ff840086;
  margin: 10px 0;
  outline: none;
  background: none;
}

/* .RbookDiv textarea{
  width: 100%;
  padding: 10px;
  border: 1px solid #FF8300;
  border-radius: 5px;
  margin: 10px 0;
} */

.RbookDiv button {
}

#bookCaro img{
  object-fit: cover;
  height: 100vh;
}

#bookCaro .carousel-caption{
  transform: translateY(-150px);
}

.paddedCaro {
  padding: 0 140px;
}

.aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:50px 100px;
  gap: 100px;
  align-items: center;
  background-color: rgb(240, 240, 240);

}

.aboutUs h6, .aboutUs span,.gallery h6 {
  color: #FF8300;
  font-weight: 700;
}

.aboutUs p {
 margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  color: rgb(107, 106, 106);

}
.aboutUs img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.gallery {
  padding: 100px;
}

.gallery img {
  height: 250px;
  object-fit: cover;
  width: 350px;
}

.galleryImages {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 40px;
  margin-top: 40px;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #FF8300; /* Change this to your preferred color */
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: none; /* Hide the button initially */
  animation: bounce 2s infinite;
}


#scrollToTopBtn:hover {
  background-color: black; /* Change this to your preferred hover color */
  color: #FF8300;
}
#add:hover {
  font-weight: 700;
}
.addh5{
  color: #FF8300;
}
.addh5 p{
  color: rgb(107, 106, 106);
  font-size: 14px;
}
#add {
  text-decoration: none;
  color: rgb(107, 106, 106);
  font-size: 14px;
 font-weight: 600;
}

.contactFlex {
  justify-content: center;
  gap: 200px;
  padding: 100px 0;
}

.phone {
  color: #FF8300;
  font-weight: 700;
  font-size: 17px;
  font-size: 18px;

}

/* styles.css */
.contactForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: auto;
}


.contactForm label {
  font-weight: bold;}

.contactForm input,.contactForm textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 400px;
  margin-bottom: 15px;
}

.contactForm button {
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #FF8300;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contactForm button:hover {
  background-color: white;
  color: #FF8300;
}

.contactForm p {
  text-align: center;
  font-size: 16px;
  color: green;
}

/* Fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Bounce animation */
@keyframes bounceIn {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounceIn 1s forwards;
}

/* Fade-in class for content */
.fade-in {
  opacity: 0;
  animation: fadeIn .8s forwards;
}

.fade-in:nth-child(1) {
  animation-delay: 0.5s;
}

.fade-in:nth-child(2) {
  animation-delay: 1s;
}

#contactDiv {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#contactDiv p{
  color: white;
}

.foot {
  padding: 0 50px;
}

@media(max-width:775px) {
  input[type="text"],
  input[type="email"],
  input[type="date"]{
    width: 100%;
    box-sizing: border-box;
  }
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* border-bottom:  1PX solid lightyellow; */
    color: white;
  }

  .navbar-nav {
    background-color: white;
    gap: 10px;
    color: #FF8300;
    padding: 20px;
  }

  .nav-item .nav-link {
    color: #FF8300;
  }
  
  .box {
    height: 100vh;
  }

  .nav-link a {
    color: #FF8300;
  }

  .firstCaro img,.firstCarou img   {
    height: 100vh;
    filter: brightness(30%);
    object-fit: cover;
  }

  .carousel-caption {
    transform: translateY(-200px);
  }
  
  
#bookCaro .carousel-caption{
  transform: translateY(-300px);
}

#boxx .carousel-caption{
  transform: translateY(-250px);
}
  

  .carousel-caption h1 {
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.87)
  }
  
.about {
  grid-template-columns: 1fr;
  padding: 70px 10px;
}

.serviceDiv {
  grid-template-columns: 1fr;
  padding:50px 20px;
}

.rightAbout {
  grid-template-columns: 1fr;
}

.serviceDiv div {
 background-color: whitesmoke;
 padding: 30px;
}

.background-container {
  flex-direction: column;
  padding: 30px 20px;
  /* justify-content: flex-start; */
  /* align-items: start; */
  gap: 10px;
}

.services {
  padding: 70px 0;
}
.services h1 {
  font-size: 35px;
}

.rooms {
  display: grid;
  grid-template-columns: 1fr;
  gap: 100px;
  margin-top: 30px;
}

.featured {
  padding:70px 10px;
}

.featured h1 {
  font-size: 40px;
}

.rooms p{
  font-size: 20px;
}

.rooms h2 {
  font-weight: 600;
}

.RBooking form{
  flex-direction: column;
  height: max-content;
  padding: 50px 10px;
  z-index: 10000;
}

  .rse {
    border-bottom: none;
  }

  .aboutSect {
    grid-template-columns: 1fr;
  }








.roomies {
  grid-template-columns: 1fr;
  padding: 30px;
  gap: 20px;
  border-bottom: 1px solid rgb(189, 189, 189);
  margin: 40px 0;
}

.guestBook {
  padding: 50px 5px;
}

.customDiv {
  gap: 20px;
  padding: 40px 0;
}

.paddedCaro {
  padding: 0;
}

.bookDiv{
  grid-template-columns: 1fr;
  padding: 10px;
  gap: 20px;
}

.roomcap {
  height: max-content;
  padding: 20px;
}

.aboutSec img{
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.aboutUs {
  grid-template-columns: 1fr;
  padding:50px 20px;
  gap: 10px;
  align-items: center;
  background-color: rgb(240, 240, 240);

}

.galleryImages {
  grid-template-columns: 1fr;
  gap: 40px;
  margin-top: 40px;
}

.gallery {
  padding: 50px 10px;
}

.gallery img {
  width: 100%;
}

.contactFlex {
  justify-content: center;
  gap: 50px;
  padding: 100px 20px;
}

}